<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Moviary - ホーム</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <header class="book-tabs">
            <a class="tab home-tab active" href="{{ url_for('index') }}">HOME</a>
            <a class="tab dictionary-tab" href="{{ url_for('dictionary') }}">DICTIONARY</a>
            <a class="tab user-tab" href="{{ url_for('user') }}">USER</a>
        </header>
        <div class="container">
            <div class="main-content">
                <h2>映画を探す</h2>
                <form
                    method="GET"
                    action="{{ url_for('index') }}"
                    class="search-form"
                >
                    <input
                        type="text"
                        name="query"
                        placeholder="映画のタイトルを入力"
                        value="{{ query }}"
                    />
                    <input type="submit" value="検索" />
                </form>
                
                {% if query and not movies %}
                <div class="movie-list">
                    <p>
                        検索結果が見つかりませんでした。別のキーワードで検索してください。
                    </p>
                </div>
                {% elif movies %}
                <div class="movie-list">
                    <h3>検索結果</h3>
                    <div class="movie-row">
                        {% for movie in movies %}
                        <div class="movie-item">
                            <img
                                src="{{ movie.api_url }}"
                                alt="{{ movie.title }}"
                            />
                            <p>{{ movie.title }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="movie-list recommendations">
                    <h3>ランキング</h3>
                    <div class="movie-row">
                        {% for movie in indian_movies[:3] %}
                        <div class="movie-item">
                            <img src="{{ movie.api_url }}" alt="{{ movie.title }}" />
                            <p>{{ movie.title }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
